.container {
  box-shadow: 0 0 10px 5px rgb(233, 184, 184);
  border-radius: 25px;
  min-width: 15rem;
  margin-bottom: 3.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.actions__container {
  display: flex;
  flex-direction: row;
  margin: -1em 1em 0 1em;

  font-size: 2rem;
  color: rgb(169, 169, 169);

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  width: 6rem;
  height: 3rem;
}

.actions__container > .button {
  top: 2rem;
  padding-left: 0.5rem;
}

.actions__container > .button:hover {
  font-size: 2.2rem;
  color: rgb(78, 78, 78);
}

.description {
  display: flex;
  flex-direction: row;
}

.images__container {
  margin: 1rem;
  width: 19rem;
  height: 19rem;
  object-fit: cover;
  border-radius: 0.8em;
  border: 3px solid #cec6cc;

  box-shadow: 0 0 5px 1px lightgrey;
}

.image {
  max-width: 100%;
  height: 19rem;
}

.details__container {
  margin: 1rem;
  width: auto;
}
